
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 20px;
    border-top: 2px solid #ccc; 
    padding-top: 10px; 
}


.product-card {
    display: flex;
    flex-direction: column;
    transition: transform 0.3s, box-shadow 0.3s;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.product-image {
    width: 100%;
    height: 200px; 
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.product-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    text-align: center;
    height: 100%;
}

.product-card .card-subtitle {
    font-size: 1.1rem;
    color: #34495e;
}

.product-card .card-text {
    font-size: 15px;
    height:100px;
    color: #34495e; 
    overflow: hidden;
}

.product-card .btn {
    width: 100%;
    background-color: #3498db;
    border: none;
    transition: background-color 0.3s;
}

.product-card .btn:hover {
    background-color: #2980b9;
}


@media (max-width: 768px) {
    .product-image {
        height: 150px;
    }
}

@media (max-width: 576px) {
    .product-image {
        height: 100px;
    }
}
