
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bannerCouple {
    text-align: center; 
    padding: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.bannerCouple img {
    width: 80%; 
    max-width: 1000px;
    height: auto; 
    margin: 0 auto; 
    display: block; 
    padding-top: 20px;
    
}
h3 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.row {
    justify-content: center;
}

.Card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    border-radius: 8px;
    overflow: hidden;
}

.Card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.Card img {
    width: 100%;
    height: 50%;
    transition: transform 0.3s ease;
}

.Card:hover img {
    transform: scale(1.1); 
}


.CardTitle {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.CardText {
    font-size: 16px;
    color: #666;
}


.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}
